<style>
                body {
                        font-family: Arial, sans-serif;
                        background-color: #F0F8FF;
                        color: #333;
                        margin: 0;
                        padding: 20px;
                }

                h1 {
                        color: #9633ff;
                        border-bottom: 2px solid #102460;
                        padding-bottom: 10px;
                }

                h2, h3, h4 {
                        color: #824fb7;
                }

                p {
                        line-height: 1.5;
                        margin-bottom: 15px;
                }

                a {
                        color: #0040ff;
                        text-decoration: none;
                }

                a:hover {
                        text-decoration: underline;
                }

                img {
                        border: 2px solid #000000;
                        border-radius: 10px;
                        margin: 20px 0;
                }

                ul, ol {
                        margin-left: 15px;
                }

                .container {
                        background-color: #cbfaff;
                        padding: 20px;
                        border: 5px solid #ccc;
                        border-radius: 7px;
                }

                .important {
                        color: red;
                        font-weight: bold;
                }
        </style>
